# Phantom
#phantom.callback = "Phantom_Analytic" # "Phantom_NCAT"           # name of function that reads and models phantom
#phantom.projectorCallback = "C_Projector_Analytic" # "C_Projector_NCAT" # name of function that performs projection through phantom
#phantom.filename = "phantom_sinovision_MTF.ppm" #"body_phantom_450x300x160mm.ppm" # '../phantom/female_10yr_lung_phantom.nrb'       # phantom filename
# # phantom.filename = "body_phantom_simple.ppm" #'../phantom/female_10yr_lung_phantom.nrb'       # phantom filename
#phantom.centerOffset = [0.0, 0.0, 0.0]      # offset of phantom center relative to origin (in mm)
#phantom.scale = 1.0                         # re-scale the size of phantom


## For Sinovision Digital Phantom
phantom.callback = "Phantom_Voxelized"      # name of function that reads and models phantom
phantom.projectorCallback = "C_Projector_Voxelized" # name of function that performs projection through phantom
phantom.filename = 'phantom_Sinovision_Line_Pair.json' #'phantom_cylinder.json'#         # phantom filename
phantom.centerOffset = [0.0, 0.0, 0.0]      # offset of phantom center relative to origin (in mm)
phantom.scale = 1.0                         # re-scale the size of phantom